<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WorkDM_shumkova.Properties.Settings.SecuretyDB_shumkovaConnectionString"
            connectionString="Data Source=PC325L11\SQLEXPRESS;Initial Catalog=SecuretyDB_shumkova;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>